*{
    padding: 0px;
    margin: 0px;
}



header{
    background-color: #23376d;
    color: white;
    text-align: center;
    padding: 15px;
}

#menu{
    background-color: rgb(233, 223, 223);
}

#menu ul li{
    display: block;
    float: left;
    border: 2px solid  #23376d;
    
}

#menu ul li a{
    padding: 15px;
    color: rgb(11, 127, 221);
    display: block;
}
#menu ul li a:hover{
    background-color:  #23376d;
    color: rgb(15, 14, 14);
}

.clearfix {
    float: none;
    clear: both;
}

#contenido{
    padding: 20px;
    border: 4px solid #0cc715;
}

.div-center {
    text-align: center;
    margin-bottom: 50px;
}

.descripcion{
    font-size: 25px;
    text-align: center;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Arial, Helvetica, sans-serif,
     'Trebuchet MS', sans-serif;
     font-style: italic;
     font-weight: bold;
}

.descripcion1{
    font-size: 50px;
    text-align: center;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', calibri,
     'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #23376d;
}


.columna {
    display: table-cell;
    padding: 5px;
}


footer{
    background-color: #23376d;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#contenido-ct{
    margin: 25px; 
    
}

.parrafo-ct {
    color: rgb(10, 9, 8);
    font-family: "Trebuchet", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
    margin: 25px;

    
}
.imag-carreras {
    width: 300px;
    text-align: center;
   
    
}



span { 
    padding: 20px;
    width: 590px;
    height: 399px;
    background-color: orange;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    
  }


  .box { 
    background-color: #23376d;
    padding: 40px; 
    width: 560px;
    height: 388px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    
}

.one {
    
    background-color: #5c0321;
    padding: 193px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
  }


  .two {
    background-color: white;
    padding: 193px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    text-align: center;
  }
 
 


  .box-one { 
    background-color: #23376d;
    padding: 40px; 
    width: 1250px;
    height: 410px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    
}
 
.box-two { 
    background-color:#23376d;
    width: 1260px;
    height: 170px; 
    
    
}

.mi-clase {
    text-align: center;
}

